@import "../../Style/base";
.flexBox {
    column-count: 2;
    column-gap: 0;
    @include media("<xs-phone"){
      column-count: 1;
      .imgBox{
        display: block !important;
      }
    }
    &.exploreBox{
      display: flex;
        flex-wrap: wrap;
        align-items: center;
      .imgBox{
        cursor: pointer;
        &:first-child{
          margin: 0;
        }
      }
    }
  .imgBox {
    flex: 0 0 25%;
    position: relative;
    display: inline-block;
    padding: 12px;
    vertical-align: top;
    width: 100%;
    cursor: pointer;
    @include media("<tablet-x") {
        flex: 0 0 33.33%;
      }
    
      @include media("<phone") {
        flex: 0 0 50%;
      }
    
      @include media("<xs-phone") {
        flex: 0 0 100%;
      }
    &:first-child{
        margin-top: 35px;
        @include media("<xs-phone"){
          margin-top: 0;
        }
    }
    video{
      border-radius: 18px;
      display: block;
      height: auto;
      width: 100%;
    }
    img {
      border-radius: 18px;
      display: block;
      height: auto;
      width: 100%;
    }
    .profileDetail {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      color: #fff;
      margin: 20px;
      font-size: 12px;
      img {
        object-fit: cover;
        width: 35px;
        height: 35px;
        margin-right: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
  }
}
