@import "../../Style/base";
.flexBox {
    column-count: 2;
    column-gap: 0;
    @include media("<xs-phone"){
      column-count: 1;
      .imgBox{
        display: block !important;
      }
    }
    &.exploreBox{
      column-count: 4;
      @include media("<tablet-x"){
        column-count: 3;
      }
      @include media("<phone"){
        column-count: 2;
      }
      @include media("<xs-phone"){
        column-count: 1;
      }
      .imgBox{
        &:first-child{
          margin: 0;
        }
      }
    }
  .imgBox {
    position: relative;
    display: inline-block;
    padding: 12px;
    vertical-align: top;
    &:first-child{
        margin-top: 35px;
        @include media("<xs-phone"){
          margin-top: 0;
        }
    }
    video{
      border-radius: 18px;
      display: block;
      height: auto;
      width: 100%;
    }
    img {
      border-radius: 18px;
      display: block;
      height: auto;
      width: 100%;
    }
    .profileDetail {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      color: #fff;
      margin: 20px;
      font-size: 12px;
      img {
        width: 35px;
        height: 35px;
        margin-right: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
  }
}
