@import "../../Style/base";
.ImgWrapper{
    .imgUploader{
        background-color: #201E23;
        border-radius: 12px;
        border: none;
        height: 200px;
        width: 100%;
        color: #fff;
        font-weight: 500;
        position: relative;
        margin-bottom: 20px;
    }
    span{
        position: absolute;
        top: 25%;
        text-align: center;
        left: 0;
        right: 0;
        font-size: 16px;
    }
    
    .prilfe{
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
        font-weight: 500;
        img{
            width: 40px;
            border: 2px solid #fff;
            border-radius: 50%;
            margin-bottom: 8px;
        }
        p{
            margin: 0;
        }
    }
    
    .ImgBox{
        position: relative;
        padding: 0 10px;
        cursor: pointer;
        @include media("<xs-phone"){
            padding: 0;
        }
        .prilfe{
            z-index: 99999;
            img{
                height: auto;
                width: 40px;
                margin: auto;
                border-radius: 50%;
            }
        }
        &:after{
            position: absolute;
            content: "";
            left: 10px;
            right: 10px;
            top: 0;
            bottom: 0;
            background-color: #201E23;
            opacity: 0.4;
            border-radius: 15px;
        }
        img{
            display: block;
            height: 200px;
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
            object-position: top;
        }
    }
}