.supportDropdown {
    .select {
        background: none;
        border-radius: 20px;
        border: 1px solid #454545;
        color: #fff;
        padding: 15px;
        &:focus {
            box-shadow: none;
            border: none;
          }
    }
}


option {
    border-radius: 15px;
    border: 1px solid #454545;
    background: #201E23;
    border-radius: 10px !important;
    padding: 10px;
    font-family: 'Glass Antiqua';
    font-size: 16px;
}

.box {
    text-align: center;
    padding: 40px 0;

    img {
        padding: 15px 0;
    }

    .text {
        color: #FFF;
        font-size: 14px;
    }
}

.postionBtn{
    position: absolute;
    bottom: 0;
    width: 300px;
    left: 50%;
    margin: 10px;
    transform: translateX(-50%);
}