.supportDropdown {
    padding: 0 0 40px 40px;
    .texts{
        padding-top: 20px;
    }
}


option {
    border-radius: 15px;
    border: 1px solid #454545;
    background: #201E23;
    border-radius: 10px !important;
    padding: 10px;
    font-family: 'Glass Antiqua';
    font-size: 16px;
}

.box {
    text-align: center;
    padding: 40px 0;
    

    img {
        padding: 15px 0;
    }

    .text {
        color: #FFF;
        font-size: 14px;
    }
}

