#wrapper {
  position: relative;
  width: 100%;
  background-image: url(../../Images/login-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}
.loginFrom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 25px);
}
