.infoModal {
  [class*="modal-content"] {
    border-radius: 38px;
    border: 2px solid #dcdcdc;
    background: #1c1c1c !important;
    padding: 0;
  }
  [class*="modal-header"] {
    padding: 0;
  }
  [class*="modal-body"] {
    background-color: transparent !important;
  }
  [class*="modal-dialog"] {
    max-width: 350px;
  }

  h6 {
    color: #fff;
    margin-bottom: 35px;
    font-size: 22px;
  }
  .closeBtn{
    background-color: #d10a0b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 25px;
    position: relative;
    top: -25px;
    right: -25px;
    cursor: pointer;
  }
}
