@import "../../Style/base";
.header {
  background: #201e23;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all ease 0.3s;
  .rightSide {
    display: flex;
    align-items: center;
    padding: 8px 0;
    width: calc(100% - 130px);
    margin-left: 350px;
    @include media("<widescreen"){
      margin-left: 150px;
    }
    
    @include media("<xs-phone"){
      margin-left: 25px;
      width: 100%;
    }
  }

  .iconBtn {
    background: linear-gradient(321deg, #73ff66 0%, #19850f 100%);
    border-radius: 30px !important;
    padding: 0 10px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    &:hover{
        color: #fff;
        opacity: 0.9;
    }
    .icon {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
    }
    span{
        margin-right: 5px;
        
    }

    img {
      width: 28px;
    }
  }

  .profileBtn{
    height: auto;
    width: 100px;
    img{
        border: 3px solid #fff;
        width: 100%;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  }
  
}
