.dropdown{
    button{
        background-color: transparent;
        border: none;
        padding: 0 !important;
        height: auto;
        vertical-align: middle;
        line-height: normal;
        font-size: 18px;
        &:after{
            display: none;
        }
        &:hover{
            background-color: transparent;
            color: #ffcd2f;
        }
    }
}