
.formHolder{
  max-width:380px;
  .form-control {
    width: 100%;
    border-radius: 30px;
    margin: 15px 0;
    padding: 12px 22px;
    font-family: Gilroy;
    font-weight: 500;
    color: #6d6771;
    &::placeholder{
      color: #6d6771;
      font-size: 12px;
    }
  }
  
}
.login-form {
  text-align: center;
  width: 50%;
}
.form-group{
  position: relative;
}
.form-control{
  font-size: 14px;
  border-radius: 50px;
  border: 1.5px solid #FFF; 
  padding: 0.575rem 0.75rem;
  color: #fff;
  background-color: #fff;

  &:focus{
    box-shadow: none;
  }
}
.userFrom{
  .form-group{
    border-bottom: 1px solid #454545;
    .form-control{
      background-color: transparent;
      border-radius: 0;
      border: none;
      padding: 5px 0 10px 0;
      font-size: 16px;
      font-weight: 400;
      &:focus{
        color: #fff;
      }
    }
    .form-label{
      font-size: 12px;
      margin: 0;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
