.search {
  span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
  }
  input {
    background: rgba(255, 255, 255, 0.13);
    border: 8px;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    padding: 10px 35px;
    &:placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
