.search {
  &.contactList {
    input {
      margin-bottom: 0;
      border-radius: 30px !important;
      background: #2D2933;
    }
  }
&.badgeList{
  margin-bottom: 32px;
  input{
    border-radius: 8px;
    background: #3d3b40; 
  }
}
  &.fullWidth {
    margin-bottom: 35px;

    input {
      background: #201E23;
      border-radius: 30px !important;
      padding: 15px 50px;

      &:focus {
        color: #fff;
      }
    }
  }

  span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }

  input {
    background: rgba(255, 255, 255, 0.13);
    border: 8px;
    border-radius: 8px !important;
    padding: 10px 40px;

    &::placeholder {
      color: rgba(255, 234, 234, 0.392);
    }

    &:focus {
      color: #fff;
      background: rgba(255, 255, 255, 0.13);
    }
  }
}