@import "../../Style/base";

.prizeList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-family: $Poppins;

  li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

    img {
      width: 36px;
      height: 37px;
      flex-shrink: 0;
    }

    p {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-left: 15px;
      margin: 0;
    }
  }
}