@import "../../Style/base";
.iconBtn {
    background: linear-gradient(321deg, #73ff66 0%, #19850f 100%);
    border-radius: 30px !important;
    padding: 0 10px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    @include media("<tablet-x"){
      justify-content: space-between;
      display: flex !important;
      margin: 10px 35px 10px 21px;
      width: 80%;
    }
    &:hover{
        color: #fff;
        opacity: 0.9;
    }
    .icon {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
    }
    span{
        margin-right: 5px;
        
    }

    img {
      width: 28px;
    }
  }

  .profileBtn{
    height: auto;
    width: 100px;
    
    img{
        border: 3px solid #fff;
        width: 100%;
        height: auto;
        display: block;
        border-radius: 50%;
        @include media("<tablet-x"){
          position: absolute;
          top: -395px;
          left: 66px;
          width: 65%;
                }
    }
  }